header {
    background-color: blue;
    background-image: linear-gradient(to left, blue, blueviolet, purple);
}

main {
    display: flex;
}

aside {
    height: 500px;
    width: 200px;
}

hr {
    border-top: solid gray;
}

#currentWeather {
    height: 400px;
    width: 800px;
}